{% extends 'base.html' %}
{% block pageContent %}
<div class="container mt-5">
    <div class="card card-default rounded-3 shadow">
        <div class="card-header bg-gradient bg-primary text-white">
            <div class="d-flex justify-content-between align-items-center">
                <h4 class="card-title fw-bold">Trip Categories</h4>
                <div class="tools">
                    <button type="button" class="btn btn-primary rounded-pill" id="add_new">
                        <i class="fa fa-plus me-1"></i> Add New
                    </button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="category-list">
                    <thead class="bg-gradient bg-secondary text-white">
                        <tr>
                            <th class="text-center">No</th>
                            <th class="text-center">Date/Time</th>
                            <th class="text-center">Name</th>
                            <th class="text-center">Description</th>
                            <th class="text-center">Status</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for category in categories %}
                        <tr>
                            <td class="text-center">{{ forloop.counter }}</td>
                            <td class="text-center">{{ category.date_created|date:"Y-m-d h:i A" }}</td>
                            <td>{{ category.name }}</td>
                            <td>{{ category.description }}</td>
                            <td class="text-center">
                                {% if category.status == '1' %}
                                <span class="badge bg-success rounded-pill">Active</span>
                                {% else %}
                                <span class="badge bg-danger rounded-pill">Inactive</span>
                                {% endif %}
                            </td>
                            <td class="text-center">
                                <a class="btn btn-outline-primary btn-sm edit-data" href="javascript:void(0)" data-id="{{ category.pk }}" title="Edit">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <button class="btn btn-outline-danger btn-sm delete-data" type="button" data-id="{{ category.pk }}" title="Delete">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock pageContent %}
{% block ScriptBlock %}
<script>
    $(function() {
        // Add New Button Click Event
        $('#add_new').click(function() {
            uni_modal('<i class="fa fa-plus"></i> Add Category', '{% url "manage-category" %}', 'modal-md')
        });

        // Edit Button Click Event
        $('.edit-data').click(function() {
            uni_modal('<i class="fa fa-edit"></i> Edit Category', '{% url "manage-category" %}/' + $(this).attr('data-id'), 'modal-md')
        });

        // Delete Button Click Event
        $('.delete-data').click(function() {
            _conf("Are you sure to delete this Category permanently?", "delete_category", [$(this).attr('data-id')])
        });

        // DataTable Initialization
        $('#category-list').DataTable({
            columnDefs: [{
                orderable: false,
                targets: 5
            }],
            initComplete: function(settings, json) {
                $('table td, table th').addClass('px-2 py-2');
            },
            drawCallback: function(settings) {
                $('table td, table th').addClass('px-2 py-2');
            }
        });
    });

    // Delete Category Function
    function delete_category($id) {
        start_loader();
        var _this = $(this);
        $('.err-msg').remove();
        var el = $('<div>');
        el.addClass("alert alert-danger err-msg");
        el.hide();
        $.ajax({
            url: '{% url "delete-category" %}',
            headers: {
                'X-CSRFToken': "{{csrf_token}}"
            },
            method: 'POST',
            data: {
                id: $id
            },
            dataType: 'json',
            error: function(err) {
                console.log(err);
                el.text('An error occurred.');
                el.show('slow');
                end_loader();
            },
            success: function(resp) {
                if (resp.status == 'success') {
                    location.reload();
                } else if (!!resp.msg) {
                    el.text('An error occurred.');
                    el.show('slow');
                } else {
                    el.text('An error occurred.');
                    el.show('slow');
                }
                end_loader();
            }
        });
    }
</script>
{% endblock ScriptBlock %}
