{% extends "base.html" %}
{% load humanize %}
{% load customfilter %}

{% block pageContent %}
<!--Section: Content-->
<section class="container-fluid p-0 d-flex justify-content-center align-items-center" >
    <div class="text-center text-light blue">
        <h1 class="display-4 blue">Welcome to Online Bus Ticket Reservation System</h1>
        <p class="lead blue">Easily search, select, and book bus tickets for your journey. Explore popular routes, view current offers, and access customer support. Enjoy hassle-free booking with secure payment options.</p>
    </div>
</section>
{% endblock pageContent %}
